.tasksTable {
  margin-top: 20px;

  &__container {
    &__table {
      &__head {
        th {
          font-weight: 600;
          background-color: rgba(25, 118, 210, 0.04);
        }
      }
      &__body {
        &__row {
          &__cell {
            overflow-wrap: break-word;
            word-break: break-all;
          }
          &__update:hover {
            cursor: pointer;
            background-color: rgb(250, 250, 250);
          }
        }
      }
    }
  }

  &__spinnerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__emptyRow {
    height: 75px;
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__edited-icon {
      margin-left: 10px;
      padding: 5px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #757575;
    }
  }

  &__popover {
    padding: 5px;
  }
}
