.task-form {
  width: auto;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__title {
      margin-bottom: 10px;
    }

    &__buttons {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      justify-content: flex-end;
    }
  }
}
